.main-logo {
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: -0.5%;
    left: 3%;
}

.main-wrapper {
    position: relative;
    left:20%;
    top: 10vh;
    width: 60%;
    height: 70vh;
}
