.message-list {
    overflow-y: scroll;
    height: 80%;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
}

.message-list::-webkit-scrollbar{
    display: none;
}

.messages-divider {
    text-align: center;
    vertical-align: bottom;
    margin: 3%;
}

.messages-divider h4 {
    margin: 1%;
}
